.contact-main {
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
    margin-top: -180px;
    margin-bottom: 100px;
}
.contact-main .contact1 {
    width: 55%;
    height: 100%;
}
.contact-main .contact2 {
    width: 40%;
}
.contactInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 53px;
}
@media (max-width:992px) {
    .contact-main {
        margin-top: -120px;
        padding: 0 40px;
    }
}

@media (max-width:768px) {
    .contact-main {
        flex-wrap: wrap;
        margin-top: -60px;
    }
    .contact-main .contact1 {
        width: 100%;
    }
    .contact-main .contact2 {
        width: 100%;
        margin-top: 60px;
    }
    .contactInfo {
        flex-wrap:wrap ;
    }
}
@media (max-width:576px) {
    .contact-main {
        padding: 0 20px;
    }
    .contact-main {
        margin-top: -40px;
    }

}