.pronumber {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 100px;
}
.pronumber .num {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 6px;
    cursor: pointer;
}
.pronumber .active {
    background-color: #f35525;
}